
.body {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 50px;
}

.body:before,
.body:after {
    content: "";
    display: table;
    clear: both;
}
.body > span {
    width: 25%;
    float: left;
    position: relative;
}

.body > span:nth-child(4n+2) > img{
    border-color: red;
}

.row:before,
.row:after {
    content: " ";
    display: table;
    clear: both;
}
.imagesCount{
    margin: 30px;
}
.delete {
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 0px;
    width: 20px;
}

.images {
    cursor: pointer;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    display: block;
    box-sizing: border-box;
    border: 5px solid #555;
    background: #000 center center;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.images:hover {
    border-color: yellow !important;
    transform: rotate(45deg);
}

@media screen and (max-width: 900px) {
    .body > span {
        width: 50%;
    }

    .body > span:nth-child(2n+2) > img{
        border-color: red;
    }
}

@media screen and (max-width: 500px) {
    .body > span {
        width: 100%;
    }

    .body > span > img{
        border-color: red;
    }
}